:root {
  --font-family-main: Consolas;

  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

  --font-size-m: 24px;
  --font-line-m: 32px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
}
